@font-face {
    font-family: BarlowSemiCondensed Regular;
    src: url('fonts/BarlowSemiCondensed/BarlowSemiCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: YanoneKaffeesatz;
    src: url('fonts/YanoneKaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: Sanchez Regular;
    src: url('fonts/Sanchez/Sanchez-Regular.ttf') format('truetype');
}

/*Diseño Mobile*/

.abrir-menu,
.cerrar-menu {
    display: none;
}



body {
    margin: 0px;
    padding: 0px
}

header {
    background-color: #222933;
    display: flex;
    align-items: center;
}

.tituloHeader span {
    color: #FFFFFF;
    font-size: 15.4px;
    margin: 0px;
    padding-left: 15px;
    font-family: Sanchez Regular;
}

.tituloHeader span:hover {
    color: #F04E4F;
}

.tituloHeader {
    color:#F04E4F;
    font-size: 15.4px;
    margin: 0px;
    text-decoration: none;
    padding-left: 15px;
    font-family: Sanchez Regular;
}


.itemsHeader {
    list-style-type: none;
    display: flex;
    font-size: 28px;
    font-family: YanoneKaffeesatz;
}

.itemsHeader a {
    text-decoration: none;
    color: #FFFFFF;
}

@media screen and (min-width:576px) {

.itemsHeader li {
    margin: 0 50px;
}

.ocultarEsc {
    display: none;
}

}
nav {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.itemsHeader a:hover {
    color:#F04E4F;
    text-decoration: underline;
}

footer {
    background-color:#F04E4F;
    display: flex;
    justify-content: space-between;
}

.menuFooter {
    padding: 100px 0px 0px 50px;
    color: #30475E;
    font-size: 30px;
    font-family: YanoneKaffeesatz;
}

.itemsFooter {
    list-style-type: none;
    padding-left: 50px;
    font-family: YanoneKaffeesatz;
}

.itemsFooter a {
    text-decoration: none;
    color: #30475E;
    font-size: 25px;
}

.itemsFooter li {
    padding-bottom: 30px;
}

.itemsFooter a:hover {
    color:#FFFFFF;
}

.eMail {
    padding: 100px 100px 0px 0px;
    color: #30475E;
    font-size: 30px;
    font-family: YanoneKaffeesatz;
}

.gMail {
    color: #30475E;
    font-size: 30px;
    font-family: YanoneKaffeesatz;
}

.redSocial {
    color: #30475E;
    font-size: 30px;
    padding: 300px 200px 25px 40px;
    font-family: YanoneKaffeesatz;
}

.itemsRedes li {
    list-style-type: none;
    display:inline-block;
    margin-right: 10px;
}

.itemsRedes a {
    transition: transform 0.3s ease-in-out;
}

.logoFooter {
    width: 60px;
    height: 60px;
}

.logoFooter:hover {
    transform: scale(0.9,0.9);
}

.edwFooter {
    width: 300px;
}

.tituloFooter {
    color:#30475E;
    font-size: 30px;
    margin: 0px;
    text-decoration: none;
    padding-left: 65px;
    font-family: YanoneKaffeesatz;
}

.logoEDW {
    display: flex;
    flex-direction: column;
}

/*Aquí empieza el css del contenido*/

.divContent1 {
    background-color: #30475E;
}

.titulo1 {
    color: #F04E4F;
    margin: 0;
    padding: 40px 0px 0px 40px;
    font-size: 57.4px;
    font-family: Sanchez Regular;
}

.texto {
    color: #FFFFFF;
    font-size: 28px;
    font-family: BarlowSemiCondensed Regular;
    margin:0;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.subtitulo {
    color: #F04E4F;
    padding-left: 40px;
    font-size: 28px;
    flex: 1;
    font-family: YanoneKaffeesatz;
    margin: 0;
    padding-top: 50px;
}

.divContent2 {
    background-color: #30475E;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.contacto {
    width: 150px;
    height: 150px;
    background-color: #222933;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-left: 350px;
    margin-top: 30px;
}

.whatsapp {
    width: 100px;
    height: 100px;
}

.correo {
    width: 110px;
    height: 110px;
}

.instagram {
    width: 110px;
    height: 110px;
}

.facebook {
    width: 110px;
    height: 110px;
}

.contenedorfinal {
    height: 50px;
}

/*Aquí termina el css del contenido*/

@media screen and (max-width:576px) {
    header {
        justify-content: space-between;
        height: 70px;
    }

    .abrir-menu {
        display: block;
        margin-right: 10px;
        background: none;
        border: none;
    }
    
    .cerrar-menu {
        display: block;
        background: none;
        border: none;
    }

    .navHeader {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color:#F04E4F;
        padding: 25px;
        border-bottom-left-radius: 20px;
        height: 300px;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .itemsHeader {
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        align-items: end;
        justify-content: space-between;
    }

    .nav1{
        padding-bottom: 30px ;
    }

    .nav2 {
        height: 250px;
        display: flex;
        justify-content: space-between;
    }

    .itemsHeader li a:hover {
        color: #30475E;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .navFooter {
        display: flex;
        justify-content: flex-start;
    }

    .eMail {
        padding-left: 50px;
        padding-top: 60px;
    }

    .gMail {
        padding-left: 50px;
    }

    .redSocial {
        padding-top: 100px;
        padding-left: 50px;
    }

    .itemsRedes {
        padding-left: 50px;
    }

    .logoFooter {
        width: 35px;
        height: 35px;
    }

    .titulo1 {
        font-size: 45px;
    }

    .texto {
        font-size: 25px;
        padding-left: 40px;
    }

    .divContent2 {
        display: flex;
    }

    .ocultarMob {
        display: none;
    }

    .contacto {
        margin-left: 140px;
    }
}