@font-face {
    font-family: BarlowSemiCondensed Regular;
    src: url('fonts/BarlowSemiCondensed/BarlowSemiCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: YanoneKaffeesatz;
    src: url('fonts/YanoneKaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: Sanchez Regular;
    src: url('fonts/Sanchez/Sanchez-Regular.ttf') format('truetype');
}

body {
    margin: 0px;
    padding: 0px
}

header {
    background-color: #222933;
    display: flex;
    align-items: center;
}

.tituloHeader span {
    color: #FFFFFF;
    font-size: 15.4px;
    margin: 0px;
    padding-left: 15px;
    font-family: Sanchez Regular;
}

.tituloHeader span:hover {
    color: #F04E4F;
}

.tituloHeader {
    color:#F04E4F;
    font-size: 15.4px;
    margin: 0px;
    text-decoration: none;
    padding-left: 15px;
    font-family: Sanchez Regular;
}


.itemsHeader {
    list-style-type: none;
    display: flex;
    font-size: 28px;
    font-family: YanoneKaffeesatz;
}

.itemsHeader a {
    text-decoration: none;
    color: #FFFFFF;
}

.itemsHeader li {
    margin: 0 50px;
}

nav {
    display: flex;
    justify-content: center;
    margin: 0 auto
}

.itemsHeader a:hover {
    color:#F04E4F;
    text-decoration: underline;
}

/*Aquí termina el css del header*/

.tituloHome span {
    color: #FFFFFF;
    margin: 0;
    padding-left: 40px;
    font-size: 57.4px;
    font-family: Sanchez Regular;
}

.tituloHome {
    color: #F04E4F;
    margin: 0;
    padding: 40px 0px 0px 40px;
    font-size: 57.4px;
    font-family: Sanchez Regular;
}

.divHome1 {
    background-color:#30475E;
}

.divHome2 {
    background-color: #30475E;
    display: flex;
}

.contenedorImg {
    position: relative;
}

.imgLogo {
    width: 500px;
    height: 500px;
    padding-bottom: 70px;
    padding-left: 53px;
}

.redesHome {
    position: absolute;
    bottom: 0;
    left: 50px;
}

.redesHome li {
    list-style-type: none;
    display:inline-block;
    padding-right: 20px;
}

.redesHome a { 
    transition: transform 0.3s ease-in-out;
}

#circle-red:hover {
    transform: scale(0.9,0.9);
}

.facebook {
    width: 60px;
    height: 60px;
    padding-bottom: 75px;
}

.instagram {
    width: 60px;
    height: 60px;
    padding-bottom: 32px;
}

.gmail {
    width: 60px;
    height: 60px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.whatsapp {
    width: 60px;
    height: 60px;
    padding-bottom: 32px;
}

.github {
    width: 60px;
    height: 60px;
    padding-bottom: 75px;
}

.introduccionTxt {
    color: #F04E4F;
    padding-left: 100px;
    font-size: 28px;
    flex: 1;
    font-family: YanoneKaffeesatz;
}

.subrayado {
    text-decoration: underline;
}

.myName {
    color: #FFFFFF;
    font-family: YanoneKaffeesatz;
}


.listaHome li{
    color: #FFFFFF;
    margin: 0px 0px 30px 100px;
    font-size: 28px;
    font-family: BarlowSemiCondensed Regular;
}

.contenedorTxt {
    padding-right: 30px;
}

footer {
    background-color:#F04E4F;
    display: flex;
    justify-content: space-between;
}

.menuFooter {
    padding: 100px 0px 0px 50px;
    color: #30475E;
    font-size: 30px;
    font-family: YanoneKaffeesatz;
}

.itemsFooter {
    list-style-type: none;
    padding-left: 50px;
    font-family: YanoneKaffeesatz;
}

.itemsFooter a {
    text-decoration: none;
    color: #30475E;
    font-size: 25px;
}

.itemsFooter li {
    padding-bottom: 30px;
}

.itemsFooter a:hover {
    color:#FFFFFF;
}

.eMail {
    padding: 100px 100px 0px 0px;
    color: #30475E;
    font-size: 30px;
    font-family: YanoneKaffeesatz;
}

.gMail {
    color: #30475E;
    font-size: 30px;
    font-family: YanoneKaffeesatz;
}

.redSocial {
    color: #30475E;
    font-size: 30px;
    padding: 300px 200px 25px 40px;
    font-family: YanoneKaffeesatz;
}

.itemsRedes li {
    list-style-type: none;
    display:inline-block;
    margin-right: 10px;
}

.itemsRedes a {
    transition: transform 0.3s ease-in-out;
}

.logoFooter {
    width: 60px;
    height: 60px;
}

.logoFooter:hover {
    transform: scale(0.9,0.9);
}

.edwFooter {
    width: 300px;
}

.tituloFooter {
    color:#30475E;
    font-size: 30px;
    margin: 0px;
    text-decoration: none;
    padding-left: 65px;
    font-family: YanoneKaffeesatz;
}

.logoEDW {
    display: flex;
    flex-direction: column;
}


